[Unit]
Description=isucon12 qualify webapp
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=isucon
Group=isucon
WorkingDirectory=/home/isucon/webapp/go
ExecStart=/home/isucon/webapp/go/isuports -cpuprofile cpu.pprof
Environment=ISUCON_DB_HOST=172.31.30.228
Environment=ISUCON_DB_PORT=3306
Environment=ISUCON_DB_USER=isucon
Environment=ISUCON_DB_PASSWORD=isucon
Environment=ISUCON_DB_NAME=isuports
Environment=ISUCON_SQLITE_TRACE_FILE=sqltrace.log
Restart=always
